pre::before {
    content: '';
    display: block;
    background: url("http://pinned.github.io/img/mac_style.svg");
    height: 30px;
    width: 100%;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: #282c34;
    margin-bottom: -7px;
    border-radius: 5px;
    background-position: 10px 10px;
}

pre code {
    border-radius: 5px;
}