<div class="post_pre_next">
    <% if (page.prev != null){ %>
        <div class="post-pre">
            <a href="<%- url_for(page.prev.path) %>">上一篇: <%= page.prev.title %></a>
        </div>
    <% } %>
    <% if (page.next != null){ %>
        <a href="<%- url_for(page.next.path) %>">下一篇: 
            <%= page.next.title %>
        </a>
    <% } %>
</div>

