<script type="text/javascript">
(function(){
  $(document).on("pjax:end", function() {
      var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      var date = new Date();
      var src = cnzz_protocol+"s4.cnzz.com/z_stat.php?id=1254126949"+"&timeversion="+date.getTime();
      var $countScript = $("#cnzz_stat_icon_1254126949")
      if($countScript.length>0){
        $countSctipt.attr("src",src);
      }else{
        debugger;
        $('body').append('<script id="cnzz_stat_icon_1254126949" type="text/javascript" src="'+src+'"></script>');
      }
  });
})();
</script>
