
.post-widget {
    width: 760px;
    min-height: 10px;
    position: fixed; 
    padding-left: 460px;
    left:50%;
}
@media screen and (max-width: 480px) {
    .post-widget {
        width: 0px;
        height: 0px;
    }
}


.post-toc-wrap {
    background-color: white;
    padding: 10px 5px;
    border-radius: 10px;
    max-height: 800px;
    overflow: auto;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.post-toc-wrap::-webkit-scrollbar { /* webkit */
    display: none;
}

.post-toc-wrap  ol,ul {
    list-style: none;
    margin: 0;
}

.post-toc-wrap h4 {
    padding: 0 0 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #727272;
}


.post-toc {
    display: inline-block;
    padding: 0;
    font-size: 13px;
    >.post-toc-item {
        position: relative;
    }
}


.post-toc-link {
    position: relative;
    z-index: 2;
    display: block;
    padding: 3px 20px;
    line-height: 1.5rem;
    color: inherit;
    word-break: break-all;

}

.post-toc-link:hover {
    opacity: .8;
    cursor: pointer;
}



/*
.post-toc-shrink {
    height: 0;
    overflow-y: hidden;
} */